<section class="intro">
  <div class="container">
        <img src="https://raw.githubusercontent.com/practicalovertone/practicalovertone.github.io/master/assets/images/00-Motivation/Comparison.png">
      <h2 class="category-title">Hypothesis</h2>
      <h4 class="category-title">Vocal analysis is to the voice as music theory is to written music</h4>
      <br/>
      <p>Personal research on applying vocal analysis techniques to <a href="https://barbershop.org">barbershop</a> (and other music theory ramblings).
  </div>
</section>
